body {
    background-color: PowderBlue;
}
.Form__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: nowrap;
}

.Box__title {
    display:flex;
    justify-content: center;
}

.Box__messages {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    height: 800px;

}

.Box__send {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    right: 0px;
    left: 0px;
    background-color: #b0e0e6;
}

.button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}

.textarea {
}

.TMessage {
    text-align: center;
}

.TName {
    text-align: center;
}